<%- include('../partials/header') %>
<a href="/">Home</a>
<main class="skill-page">
  <h1 class="skill-title">Skills</h1>
  <ul class="skill-list">
    <% skills.forEach(function(s) { %>
      <li>
        <form action="/skills/<%= s.id %>?_method=DELETE" class="delete-form" method="POST">
          <button type="submit">X</button>
        </form>
        <a href="/skills/<%= s.id %>"><%= s.skill %></a>
      </li>
    <% }); %>
  </ul>
</main>
<a href="/skills/new">Add New Skill</a>
<%- include('../partials/footer') %>
